{% extends "base.html" %} {% block content %} {% if current_user.is_authenticated %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                <h5>{{ form.title.label }}</h5>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 10px;">{{ form.title( cols=175, rows=1, class = "form-control" + (" is-invalid" if form.title.errors else "") + " rounded-0 shadow-none", **{"placeholder": "Name of Thread", "autocomplete": "off"}) }}</td>
            <td>{{ form.submit(class = "form-control btn btn-dark") }}</td>
        </tr>
    </table>
</form>


{% else %}
<h5><a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">Register</a> to create a Thread!</h5>
{% endif %}
<hr> {% if topics.items == [] %}
<h5>There are no Threads on this Page!</h5>
{% endif %} {% for topic in topics.items %}

<div class="list-group list-group-numbered">
    <a href="{{ url_for('post', post=topic.title) }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ topic.title }}</h5>
            <small style="font-size: 10px;" class="badge bg-success rounded-pill mb-3">{{ moment(topic.timestamp, local=False).format('LLL') }}</small>
        </div>
        <small>Created by {{ topic.author.username }}</small>
    </a>
</div>
{% endfor %}

<hr>
<div style="text-align: right;">
    {% if prev_url %}
    <a class="btn btn-dark btn-sm" href="?page=1" role="button">❮❮</a>
    <a class="btn btn-dark btn-sm" href="{{ prev_url }}" role="button">⮜</a> {% else %}
    <button type="button" class="btn btn-secondary btn-sm" disabled>❮❮</button>
    <button type="button" class="btn btn-secondary btn-sm" disabled>⮜</button> {% endif %} {% if next_url %}
    <a class="btn btn-dark btn-sm" href="{{ next_url }}" role="button">⮞</a>
    <a class="btn btn-dark btn-sm" href="?page={{ topics.pages }}" role="button">❯❯</a> {% else %}
    <button type="button" class="btn btn-secondary btn-sm" disabled>⮞</button>
    <button type="button" class="btn btn-secondary btn-sm" disabled>❯❯</button> {% endif %}

    <p class="text-right mt-3">
        Showing page {{ topics.page }} of {{ topics.pages }}
    </p>
</div>

{% endblock %}


<!-- <div>
    <p>
        <a href="{{ url_for('post', post=topic.title) }}">{{ topic.title }}</a> by {{ topic.author.username }}
    </p>
</div> -->